{% extends 'base.html' %}
{% load i18n %}

{% comment %}
This Template is responsible for rendering the password change form
{% endcomment %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="offset2 span8 box">

      <div class="box-header row">
	<div class="span4">
	  <h2>{% trans "Reset Password" %}</h2>
	</div>
	<div class="span1 offset3" class="buttons">
	  <span>{% trans "Yellowen" %}</span>
	</div>
      </div>

      <div class="box-body row">
	<div class="span6 offset1 text-center">
	  <form action="" method="POST">{% csrf_token %}
	    <p align="left">{% blocktrans %}Enter you email address to send the reset code to you.{% endblocktrans %}</p>

	    {% for field in form %}
	    {% if not field.is_hidden %}
	    {% if field.errors %}<br/><div class="text-error">{{ field.errors }}</div>{% endif %}
	    <div class="append-input">
	      <input type="email" name="email" placeholder="{% trans "Email ..." %}" />
	      <span class="add-on"><i class="icon-envelope"></i></span>
	    </div>
	    {% endif %}
	    {% endfor %}

	  <br />

	  <br />
	</div>
      </div>

      <div class="box-footer row">
	<div class="span2 offset4">
	  <input class="btn" type="submit" value="{% trans "Reset my password" %}">
	</div>
      </div>

      </form>


    </div>
  </div>

</div>

{{ form.media }}

{% endblock content %}
