{% extends 'base.html' %}
{% load i18n %}

{% comment %}
This Template is responsible for rendering the password change form
{% endcomment %}

{% block content %}
<section id="content">
  <div class="box w500 center">
    <h2>{% trans "Reset Password" %}</h2>

      <form action="" method="POST">{% csrf_token %}
	<p align="center">{% blocktrans %}Enter you email address to send the reset code to you.{% endblocktrans %}</p>

	{% for field in form %}
	{% if not field.is_hidden %}
	{% if field.errors %}<br/><div class="error">{{ field.errors }}</div><br/>{% endif %}
	<p align="center" {% if field.errors %}class="notvalidfield"{% endif %}>{{ field.label_tag }}:{{ field }}</p>
	{% else %}
	{{ field }}
	{% endif %}

	{% endfor %}

	<p align="center"><input class="button" type="submit" value="{% trans "Reset my password" %}"></p>

      </form>

  </div>
</section>
{{ form.media }}

{% endblock content %}
