.bar_button {
    padding: 3px 8px 3px 10px;
    color: #1f1f1f;
    cursor:pointer;
    float: right;

    text-align: center;
    font-size: 13px;
    border-left: 1px solid #dadada;
    height: 20px;
}
.bar_button:hover {
    Background: #dfdfdf;
}
.bar_button img{
    float: left;
    height: 19px;
}
.gravatar {
    border-radius: 2px;
    border: 1px solid #b1b1b1;
}
.bar_button p{
    padding-top: 1px;
    text-shadow: 0 1px 1px Gray;
}
#id_user_button {
    width: 100px;
}

.submenu {
    position: absolute;
    border: 1px solid #e9e9e9;
    Background: #f1f1f1;
    float: right;
    right: 10px;
    padding: 10px;
    border-radius: 4px;
    top: 30px;

}
.submenu a { color: #2f2f2f;}
#id_header .submenu ul {
    width: 90px;
}
#id_header .submenu ul li{
    height: 20px;
    padding-left: 6px;
}