* {
    direction:ltr;
}
body {
    background: #1f1f1f;
    font-family: "myriad-pro","Trebuchet MS","Arial", sans-serif, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: #333;
}
/* start - header */
header {
    width:100%;
    height: 30px;
    padding-top: 5px;

    z-index: 0;
    background-color:#1F1F1F;
}

.inner-box {
    width: 100%;
}

#header-home{
    color: #272F30;
    background-image:url("/statics/image/header_home.jpg");
    background-position:center;
    background-repeat:no-repeat;
    height: 260px;
    width: 100%;
}

#header-home #title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    padding-right:40px;
    padding-top:50px;
    width: 600px;
    float:left;
}

#header-home #description {
    width:370px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    padding-left:80px;
    padding-top:50px;
    font-size:12px;
    float:left;
}

#nav{
    width:100%;
    float:left;
}

nav{
    width:auto;
    height:44px;
    margin: 0px 0 0 25px;
}

nav ul{
    width:90%;
}

nav ul li{
    padding:0px;
    display:inline;
}

nav ul li a {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:5px;
    padding-top:5px;
    color: #eeeeec;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:10px;
    
}

nav ul li a:hover {
    background: #0071BD;
    color:#ffffff;
}
/* end - menu */

/* start - main */
#wrapper{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 930px;
}

#content {
    margin-top: 30px;
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    padding:30px;

}

#boxes {
    width: 750px;
    margin: 30px auto 0 auto;
    text-align: center;
}
#bcontainer {
    color: #eeeeec;
    height: 100%;
    margin: 0 auto 0 auto;
    width: 660px;
    word-spacing: 3px;
    text-shadow: 1px 1px 1px #000000;    
}
#bcontainer a{
    color: #0071BD;
}
#bcontainer a:hover{
    color: #2e9fe7;
    -moz-transition: color 300ms linear 0ms;
    -webkit-transition: color 300ms linear 0ms;
}

/* end - main */

/* start - footer */


#fcontent p{
    font-size: 12px;
    padding: 5px 0 0 5px;
    
}

#copyrighted {
    float: left;
}
#version {
    right: 5px;
    padding: 5px 0 0 5px;
    position: absolute;
    float: right;
    //bottom: 0;
}

.hor {
    list-style: none;

}

.hor li {
    padding-top: 5px;
    font-size: 12px;
    display: inline-block;
    width: 200px;

}
.ver {
    list-style: none;
    float: left;
}
.ver a{
    color: #767676;
}

.ver a:hover {
    color: #0099FF;
    -moz-transition: color 300ms linear 0s;
    -webkit-transition: color 300ms linear 0s;


}
footer span{
    color: #767676;
}
#copyright ul {
    font-size: 12px;
    list-style: none;
    position: relative;
    margin-top: 60px;
}

#copyright ul li{
    display: inline-block;
}
#copyright ul li a{
    padding-left: 8px;
    color: #0071BD;
}
#copyright ul li a:hover{
    color: #0099FF;
    -moz-transition: color 300ms linear 0s;
    -webkit-transition: color 300ms linear 0s;
}

#home{
    Background: url("/statics/image/logo.png") no-repeat 3px 14px #eeeeec;
    float: left;
    border-radius: 3px;
    width: 28px;
    height: 40px;
    top: -5px;
    position: absolute;
    left: 10px;
    opacity: 0.3;
}

#home:hover {
    Background: url("/statics/image/logo.png") no-repeat 3px 11px #eeeeec;
    -moz-transition: Background 300ms linear 300ms;
    -webkit-transition: Background 300ms linear 300ms;
    opacity: 1;
    -moz-transition: opacity 300ms linear 0ms;
    -webkit-transition: opacity 300ms linear 0ms;
    box-shadow: 0px 0px 8px #0071BD;

}

#bcontainer {
    color: #eeeeec;
    height: 100%;
    margin: 0 auto 0 auto;
    width: 660px;
    word-spacing: 3px;
    text-shadow: 1px 1px 1px #000000;    
}
#bcontainer a{
    color: #0071BD;
}


.pagecontent h1{
    margin-left: 25px;
}

.pagecontent p:first-line {
    text-indent: 25px;
}

