body {
    background: #1f1f1f;
    font-family: "myriad-pro","Trebuchet MS","Arial", sans-serif, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: #333;
    direction: rtl;
}

a { 
    text-decoration: none;
}
a:hover {
    
}
h1, h2, h3, h4 {
    font: bold 1em/1.5em;
    padding: 10px 15px 7px 15px;	 
}
h1 { font-size: 3.0em; font-weight: normal; letter-spacing: -2px; }
h2 {
    font-size: 2.8em;
    font-weight: normal; 
}
h3 { font-size: 2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px}

strong { font-weight: bold; }

/* Lists */
ol,ul {
    margin-left: 15px;
    padding: 0px;
}
ul { list-style: disc; }
ol { list-style: decimal; }

dt {
    font-weight: bold;
}
dd {
    padding-left: 25px; 
}

p, dl { padding: 10px 15px; }

/* Images */
img {
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    padding: 8px;
}
img.float-right {
    margin: 5px 0px 10px 10px;  
}
img.float-left {
    margin: 5px 10px 10px 0px;
}

/* start - table */
table {
    border-collapse: collapse;
    margin: 10px;		
}

tr { }

th, td {
    text-align: left;			
    border-width: 1px;
    border-style: solid;
}
th {
    padding: .8em 1em;
}
td {	
    padding: .7em 1em;	
}	
/* end - table */

/* form elements */
form {
    margin: 10px; 
    padding: 15px 25px 25px 20px;
}
form p {
    border-bottom: 1px solid;
    padding: 12px 0 5px 0;	margin: 0;	
}

form ul,ol{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

form li {
    margin-left:auto;
    margin-right:auto
    margin-bottom:20px;
}

input, select, textarea {
    margin: 5px 0;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
}
input:focus, select:focus, textarea:focus {
}
input.button { 
    height: 30px;
    margin: 0;
    padding: 2px 3px; 
    
    border-width: 1px;
    border-style: solid;
}
/* end - form elements */

/* start - header */
header {
    width:100%;
    height: 30px;
    padding-top: 5px;

    z-index: 0;
    background-color:#1F1F1F;
}

.inner-box {
    width: 100%;
}

#header-home{
    color: #272F30;
    background-image:url("/statics/image/header_home.jpg");
    background-position:center;
    background-repeat:no-repeat;
    height: 260px;
    width: 100%;
}

#header-home #title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    padding-right:40px;
    padding-top:50px;
    width: 600px;
    float:left;
}

#header-home #description {
    width:370px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    padding-left:80px;
    padding-top:50px;
    font-size:12px;
    float:left;
}

#nav{
    width:100%;
    float:right;
}

#logo{
    width: 800px;
    color: #eeeeec;
    font-size: 200px;
    padding: 0px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url('/statics/image/bg.png') no-repeat 330px 0px transparent;
    font-family: "DejaVu Sans";
    letter-spacing: -30px;
    height: 400px;
    font-weight: 700;
    //text-indent: -9999px;
}
#logo span{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0px;
    position: relative;
    top: -230px;
    left: 320px;
}



.lbox {
    position: relative;
    width: 42px;
    height: 25px;
    Background: orange;
}
#box1 {
    top: -110px;
    right: -12px;
}
#box2 {
    top: -95px;
    right: -12px;
}
#logo h1{


}

#logo h1 a{
    display:none;
}
/* end -header */


/* start - menu */
nav{
    width:auto;
    height:44px;
    margin: 0px 45px 0 0px;
}

nav ul{
    width:90%;
}

nav ul li{
    padding:0px;
    display:inline;
}

nav ul li a {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:5px;
    padding-top:5px;
    text-transform: uppercase;
    color: #eeeeec;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:10px;
    
}

nav ul li a:hover {
    background: #0071BD;
    color:#ffffff;
}
/* end - menu */

/* start - main */
#wrapper{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 930px;
}

#content {
    margin-top: 30px;
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    padding:30px;

}

#boxes {
    width: 750px;
    margin: 30px auto 0 auto;
    text-align: center;
}
#bcontainer {
    color: #eeeeec;
    height: 100%;
    margin: 0 auto 0 auto;
    width: 660px;
    word-spacing: 3px;
    text-shadow: 1px 1px 1px #000000;    
}
#bcontainer a{
    color: #0071BD;
}
#bcontainer a:hover{
    color: #2e9fe7;
    -moz-transition: color 300ms linear 0ms;
    -webkit-transition: color 300ms linear 0ms;
}
.box {
    
    text-align: left;;
    display: inline-block;
    float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    font-size: 13px;
}
.box h3 {
    text-align: center;
}
.box_content {
    padding: 20px 20px 0 20px;
    height: 274px;
}
.box_content h3{

}
.box_bottom {
    bottom: 0px;
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1));
    height: 6px;
    width: 100%;
}
/* end - main */

/* start - footer */
footer {
    //background: url("/statics/image/top-gradient.png") repeat-x scroll center top #222222;
    border-top: 1px solid #999994;
    //height: 300px;
    height: 20px;
    width:100%;
    padding: 0;
    color: #aaaaa9;
    Background: #1f1f1f;
    position: fixed;
    bottom: 0;
}
footer a {
    color: #fff;
}

#fcontent {
    padding: 0 0 0 0px;
    clear: both;
    width: 100%;
}

#fcontent p{
    font-size: 12px;
    padding: 5px 0 0 5px;
    
}

#copyrighted {
    float: right;
    margin-right: 5px;
}
#version {
    left: 5px;
    padding: 5px 0 0 5px;
    position: absolute;
    float: left;
}

.hor {
    list-style: none;

}

.hor li {
    padding-top: 5px;
    font-size: 12px;
    display: inline-block;
    width: 200px;

}
.ver {
    list-style: none;
    float: left;
}
.ver a{
    color: #767676;
}

.ver a:hover {
    color: #0099FF;
    -moz-transition: color 300ms linear 0s;
    -webkit-transition: color 300ms linear 0s;


}
footer span{
    color: #767676;
}
#copyright ul {
    font-size: 12px;
    list-style: none;
    position: relative;
    margin-top: 60px;
}

#copyright ul li{
    display: inline-block;
}
#copyright ul li a{
    padding-left: 8px;
    color: #0071BD;
}
#copyright ul li a:hover{
    color: #0099FF;
    -moz-transition: color 300ms linear 0s;
    -webkit-transition: color 300ms linear 0s;
}

#home{
    Background: url("/statics/image/logo.png") no-repeat 3px 14px #eeeeec;
    float: right;
    border-radius: 3px;
    width: 28px;
    height: 40px;
    top: -5px;
    position: absolute;
    right: 10px;
    opacity: 0.3;
}

#home:hover {
    Background: url("/statics/image/logo.png") no-repeat 3px 11px #eeeeec;
    -moz-transition: Background 300ms linear 300ms;
    -webkit-transition: Background 300ms linear 300ms;
    opacity: 1;
    -moz-transition: opacity 300ms linear 0ms;
    -webkit-transition: opacity 300ms linear 0ms;
    box-shadow: 0px 0px 8px #0071BD;

}

#bcontainer {
    color: #eeeeec;
    height: 100%;
    margin: 0 auto 0 auto;
    width: 660px;
    word-spacing: 3px;
    text-shadow: 1px 1px 1px #000000;    
}
#bcontainer a{
    color: #0071BD;
}

