#logintable  {

    margin: 0;
    padding: 0;

}

#logintable tr {

    margin: 0;

}
#logintable tr td{
    margin: 0;
    padding: 10px 10px 0 20px;

}

.middle {
    margin: 10px  15px;
}

#remember {
    font-size: 16px;
    color: #a9a9a9;
    margin: 0px 0 0 5px;
}


#tabs {
    margin: 4px auto;
    width: 400px;
}
.tab {
    width: 40px;
    padding: 8px;
    Background: #a8a8a8;
    display: inline;
    z-index: 1;
    font-size: 10px;
    Background: #c9c9c9;
    cursor: pointer;
}
#logintab {
    border-radius: 0 0 0px 5px;
    border-right: 1px solid #e8e8e8;
}
#registertab {
    border-radius: 0 0 5px 0px;
}

.selectedtab, .selectedtab:hover {
    Background: white;
    color: #333;
}
.unselected:hover {
    Background: #eee;
    -moz-transition: Background 300ms linear 0ms;
    -webkit-transition: Background 300ms linear 0ms;
}

.loginbox {
    Background: #fff;
    border-radius: 5px;
    width: 420px;
    height: 300px;
    padding: 10px;
    margin: 0px auto 0 auto;
}

.loginbox h2{
    text-shadow: 0 0 1px #a1a1a1;
    font-size: 48px;
    font-weight: 700;
    padding: 10px 0 20px 0;
}