form {
    margin: 0 10px;
    padding: 15px 25px 25px 20px;
}


form ul,ol{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

form li {
    margin-left:auto;
    margin-right:auto
    margin-bottom:20px;
}

input, select, textarea {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #e8e8e8;
    font-size: 13px;
}
input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 2px orange;
    border-color: orange;
    -webkit-transition: box-shadow 100ms linear 0ms;
    -moz-transition: box-shadow 100ms linear 0ms;
}
.button, button { 
    border-radius: 3px;
    min-width: 50px;
    min-height: 30px;
    margin: 5px;
    padding: 10px 15px; 
    color: #1a1a1a;
    text-transform:capitalize;
    Background: #fff;
    border: 1px solid #e8e8e8;
    font-size: 16px;

}
.button:hover, button:hover { 
    box-shadow: 0 0 6px #e5e5e5;
    Background: #f7f7f7;
    cursor: pointer;
    -moz-transition: box-shadow 300ms linear 0ms;
    -webkit-transition: box-shadow 300ms linear 0ms;
}
label {
    padding: 0 10px;
    text-transform:capitalize;
}

.msg {
    padding: 5px;

    font-size: 10px;
    color: #a8a8a8;
    
}

.error {
    color: #ef2929;
}

.formtable {
    margin: 20px 10px;
}
.formtable tr{
    padding: 5px 0;
    height: 50px;
}

.notvalidfield input, .notvalidfield select{
    border: 1px solid #ef2929;
    box-shadow: 0 0 4px #ef2929;
}
.disable {
    color: #aaaaaa;
}

form input {
    margin: 0 0 0 10px;
}