<!DOCTYPE html>
{% load i18n %}
{% get_current_language_bidi as lang %}
<html lang="{{ lang.code }}">
  <head>
    {% block head %}
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>
      {% block title %}
      {% trans 'Daarmaan' %}
      {% endblock %}
    </title>

    <link REL="SHORTCUT ICON" HREF="{{ MEDIA_URL }}images/favorite.ico">
    {% if lang.bidi %}

    {% else %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/fonts.css">
    {% endif %}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/direction.js" id="direction" data-dir="{% if lang.bidi %}rtl{% else %}ltr{% endif %}"></script>
    <link rel="stylesheet/less" type="text/css" href="{{ MEDIA_URL }}css/less/style.less" id="less_init" data-env="development" data-async="false" data-rootpath="{{ MEDIA_URL}}lib/Riuma/less/"/>
    {% include "vanda/less/less.html" %}

    {% endblock %}

    {% block extrahead %}
    {% endblock extrahead %}

  </head>


  <body>
  {% block body %}

  <header>
      {% block header %}
      <nav class="pull-left">

      </nav>

      <nav class="pull-right">
      </nav>
      {% endblock header %}
  </header>

  <div id="content" class="radial_gradient">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer %}
  {% endblock %}

  {% endblock body %}

  </body>
</html>
