{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} | {% trans 'Login' %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="offset3 span6 box">

      <div class="box-header row">
	<div class="span3">
	  <h2>{% trans "Login" %}</h2>
	</div>
	<div class="span1 offset2" class="buttons">
	  <span>{% trans "Yellowen" %}</span>
	</div>
      </div>

      <div class="box-body row">


	<form action="" method="POST">{% csrf_token %}


	  <div class="span4 offset1">

	    {% if form.non_field_errors %}
	    <p class="text-error">{{ form.non_field_errors }}</p>
	    {% endif %}
	    {% if msg %}
	    <p class="{{ msgclass }}">{{ msg }}</p>
	    {% endif %}


	    {% if form.username.errors %}
	    <p class="text-error">{{ form.username.errors }}</p>
	    {% endif %}

	    <div class="append-input">
	      <input class="wide" type="text" name="username" placeholder="{% trans "Username ..." %}" />
	      <span class="add-on"><i class="icon-user"></i></span>
	    </div>
	    {% if form.password.errors %}
	    <p class="text-error">{{ form.password.errors }}</p>
	    {% endif %}

	    <div class="append-input">
	      <input type="hidden" name="next_" value="{{ next }}" />
	      <input class="wide" type="password" name="password" placeholder="{% trans "Password ..." %}" />
	      <span class="add-on"><i class="icon-asterisk"></i></span>
	    </div>

	    <br />

	    <div>
	      <small>
		<p><a href="/password_reset/">{% trans "I forgot my password" %}</a></p>
		<p><a href="/register/">{% trans "I don't have an account yet" %}</a></p>
	      </small>
	    </div>
	    <br />
	  </div>
      </div>

      <div class="box-footer row">
	<div class="span2 offset4">
	  <input type="submit" class="btn" value="{% trans "Sign in" %}" />
	</div>
      </div>
      </form>
    </div>
  </div>

</div>

{% endblock content %}
