{% load i18n %}
{% if self.problem %}
<h2 class="problem">{{ self.msg }}</h2>
{% else %}

<h2>{{ self.title }}</h2>
<select id="current-blog">
</select>
<div id="tab-container" class="tab-container">
  <ul class='etabs'>
    <li class='tab'><a href="#posts">{% trans "Posts" %}</a></li>
    <li class='tab'><a href="#comments">{% trans "Comments" %}</a></li>
    <li class='tab'><a href="#categories">{% trans "Categories" %}</a></li>
    <li class='tab'><a href="#settings">{% trans "Settings" %}</a></li>
  </ul>
  <div class="tab-body">
  <div id="posts" >
    <h2>{% trans "Blog posts" %}</h2>
    
  </div>
  <div id="comments" >
    <h2>JS for these tabs</h2>
    <!-- content -->
  </div>
  <div id="categories" >
    <h2>CSS Styles for these tabs</h2>
    <!-- content -->
  </div>
  <div id="settings" >
    <h2>{% trans "Settings" %}</h2>
    <input placeholder="{% trans 'Service' %}" value="{{ self.default_service }}">
    <button class="btn">{% trans "Save" %}</button>
  </div>

  </div>
</div>

{% endif %}
