@import "/media/lib/Riuma/less/Riuma.less";

@contentColor1: #6EB43C 0%;
@contentColor2: #417728;
@topNavHeight: 55px;

.gradient-radial(@A, @B) {
    background-image: -moz-radial-gradient(center center, circle, @A, @B);
    background-image: -webkit-radial-gradient(center center, circle, @A, @B);
    background-image: -o-radial-gradient(center center, circle, @A, @B);
    background-image: radial-gradient(center center, circle, @A, @B);
}

.radial_gradient {
    .gradient-radial(@contentColor1, @contentColor2);
}

// HEADER ---------------
header {
    color: @grayLighter;
    position: absolute;
    z-index: 500;
    width: 100%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);

}

.black {
    background: @black;
}

nav {
    ul {
	list-style: none;
	margin: 5px 10px;
	li {
	    display: inline;
	    a, a:visited{
		color: @grayLight;
		.transition(color 300ms linear 0ms)
	    }
	    a:visited, a:active, a:focus, a:hover{
		text-decoration: none;
	    }
	    a:hover{
		color: @grayLighter;
		text-decoration: none;
		.transition(color 300ms linear 0ms)
	    }
	    a:visited {
		color: @grayLight;
	    }
	    a:focus, a:active {
		color: @grayLighter;
	    }

	}
    }
}

.nav {
    ul {
	li {
	    margin-left: 15px;
	    margin-right: 15px;
	    a:visited, a:active, a:focus, a:hover {
		text-decoration: none;
	    }

	}
    }
    .box-shadow(0 1px 3px rgba(0, 0, 0, 1));
}

// FOOTER ----------------
footer {
    width: 100%;
    color: @textColor;
    position: absolute;
    bottom: 0px;
    z-index: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);

    p {
	color: @grayLight;
	padding: 0 0px 0 10px;
    }
}

#content {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 1;
}

.box {
    margin-top: 20%;
    background: white;
    border-radius: 5px;
    color: @grayDarker;
    z-index: 500;
    .box-shadow(0 0 7px rgba(0, 0, 0, 0.3));

    .box-header {
	height: 60px;

	h2 {
	    padding: 0 20px;
	    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
	}

	span {
	    color: @grayLight;

	}
    }

    .box-body {
	min-height: 120px;
	position: relative;
	width: 100%;
	display: block;
	padding-top: 40px;

	input {
	    margin: 5px auto;
	    width: 255px;
	}

    }

    .box-footer {
	min-height: 50px;
    }
}

.center {
    position: relative;
    margin: 0 auto;
}

.errorlist {
    list-style: none;
    .text-error;
}

#recaptcha_widget {
    margin-top: 10px;
    .captcha_link {
	.dir-padding-right(10px);
    }
}

#notification-area {
    .icon-spin {
	height: none;
    }
}

#drawer {
    background: @black;
    width: 100%;
    padding: 20px;
    height: 200px;
}