{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} | {% trans 'Login' %}
{% endblock %}


{% block pagetitle %}
{% endblock %}



{% block content %}
<section id="content">

  
  <div class="loginbox">
    <h2 align="center">Yellowen Login</h2>
      <p class="msg {{ msgclass }}" align="center">{{ msg }}</p>
    <form action="{% url home %}" method="POST">{% csrf_token %}

    {% for field in loginform %}
    <p><label>{{ field.label }}</label>{{ field }}</p>

    {% endfor %}
    <p align="center"><input type="submit" name="submit" class="button" value="{% trans 'login' %}"></p>
    </form>
  </div>
  
</section>

{% endblock %}
