{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block prehead %}
<script src="/statics/js/jquery.min.js" language="javascript"></script>
{% endblock prehead %}

{% block content %}
<div id="widget_data" style="display: none;">

<div class="widget">
<div id="id_setting_button__wbox" class="widgetbox">
<div id="id_setting_button" class="bar_button user_button">
<img class="" src="/statics/image/settings.png">
</div>
<div belongs_to="id_setting_button" class="submenu hide">
</div>
</div>
<div class="widgetbar">
<img src="/statics/image/close.gif" class="closebtn">
</div>
</div>

</div>

<div id="tmp_widget" style="display: none;">
</div>
  {{ dashboard.blocks.config.render }}
  {{ dashboard.blocks.header.render }}
  {{ dashboard.blocks.body.render }}
  {{ dashboard.blocks.footer.render }}
{% endblock %}
